# CyBot 0.2 main configuration file. Be careful when editing this file manually,
# as it is automatically saved run-time. On-line edit is recomended.

#########    --------------------------------------------------    #########
#########    REMEMBER TO SHUT DOWN THE BOT BEFORE YOU EDIT THIS    #########
#########    --------------------------------------------------    #########
#########    This is because the bot writes the whole of this      #########
#########    file out when it is closed down.                      #########
#########    --------------------------------------------------    #########
--- 
plugins: 
  autoload: 
  - gitweb
servers: 
  carnique: 
    autoconnect: true
    nicks: 
    - Gitbot
    - Gitbot_
    - Gitbot__
    users: 
      pieter: 
        plugins: 
        - test
        masks: 
        - Pieter!*@*
        owner: true
        password: xxxxx
    host: irc.carnique.nl
    channels: 
      "#pieter": 
        chanserv: 
          op: false
  freenode: 
    autoconnect: false
    nicks: 
    - Gitbot
    - Gitbot_
    - Gitbot__
    users: 
      Pieter: 
        plugins: 
        - test
        masks: 
        - Pieter!*@*
        owner: true
        password: xxxx
    host: irc.freenode.net
    services: 
      nickserv: 
        whois-code: 320
        password: "bot # \xE2\x86\x91 Password to identify with nickserv."
    channels: 
      "#pieter": 
        chanserv: 
          op: false

