# CyBot 0.2 main configuration file. Be careful when editing this file manually,
# as it is automatically saved run-time. On-line edit is recomended.

#########    --------------------------------------------------    #########
#########    REMEMBER TO SHUT DOWN THE BOT BEFORE YOU EDIT THIS    #########
#########    --------------------------------------------------    #########
#########    This is because the bot writes the whole of this      #########
#########    file out when it is closed down.                      #########
#########    --------------------------------------------------    #########
--- 
plugins: 
  gitweb: 
    configfile: repositories.yaml
  autoload: 
  - gitweb
  - gitfaq
servers: 
  carnique: 
    nicks: 
    - Gitbot
    - Gitbot_
    - Gitbot__
    autoconnect: true
    host: irc.carnique.nl
    users: 
      pieter: 
        masks: 
        - Pieter!*@*
        plugins: 
        - test
        owner: true
        password: 09c796da09195b579f95b0b4307ad9f690e3da4b
    channels: 
      "#pieter": 
        chanserv: 
          op: false
  freenode: 
    nicks: 
    - Gitbot
    - Gitbot_
    - Gitbot__
    autoconnect: false
    services: 
      nickserv: 
        whois-code: 320
        password: "bot # \xE2\x86\x91 Password to identify with nickserv."
    host: irc.freenode.net
    users: 
      Pieter: 
        masks: 
        - Pieter!*@*
        plugins: 
        - test
        owner: true
        password: ochjeetje
    channels: 
      "#pieter": 
        chanserv: 
          op: false

